@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registro";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Asocia tu @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
   Te has autenticado exitosamente con <strong>@Model.ProviderDisplayName</strong>.
   Por favor completa el siguiente formulario con tus datos y dale click al boton registrar para
   finalizar.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Email"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="email" placeholder="Nombre" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="email" placeholder="Telefono." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" class="form-control" autocomplete="email" placeholder="Direccion."/>
                <label asp-for="Input.StreetAddress" class="form-label"></label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" autocomplete="email" placeholder="Municipio."/>
                <label asp-for="Input.City" class="form-label"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.State" class="form-control" autocomplete="email" placeholder="Departamento." />
                <label asp-for="Input.State" class="form-label"></label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control" autocomplete="email" placeholder="Codigo postal." />
                <label asp-for="Input.PostalCode" class="form-label"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrate</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
