@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Pago realizado con exito!</h1>
        Numero de orden: @Model <br /><br />

        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>

    <div class="col-12 text-center" style="color:maroon;">
        <br />
        El pago ha sido aplicado exitosamente  <br />
        <a asp-area="Admin" asp-controller="Order", asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary"> Ir a detalles de orden </a>
    </div>
</div>