@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configurar app de autenticacion";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Para usar una app de autenticacion realiza los siguientes pasos:</p>
    <ol class="list">
        <li>
            <p>
                Descarga una app de autenticacion como Microsoft autenticator para
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> y
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                Google Authenticator para
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> y
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Escanea el codigo QR o ingresa esta llave <kbd>@Model.SharedKey</kbd> en tu aplicacion.</p>
            <div class="alert alert-info">Aprende como <a href="https://go.microsoft.com/fwlink/?Linkid=852423">activar un codigo generado QR</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
               Una vez escaneado el codigo QR tu app de autenticacion te mostrara un codigo unicom ingresa el codigo aqui:
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Codigo."/>
                            <label asp-for="Input.Code" class="control-label form-label">Codigo de verificacion</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Verificar</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
