@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reiniciar app de autenticacion";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Al reiniciar tu app actual, este metodo no funcionara hasta que vuelvas a configurar uno nuevamente.</strong>
    </p>
    <p>
        Este proceso desactiva 2FA hasta nuevo aviso.
        Si no has completado otro proceso es posible que pierdas acceso a tu cuenta
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reiniciar</button>
    </form>
</div>
