@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Doble autenticacion (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>No tienes mas codigos de recuperacion.</strong>
                    <p>Debes de <a asp-page="./GenerateRecoveryCodes">generar un nuevo set de codigos</a>  antes de intentar usar uno nuevamente.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Tienes un codigo de recuperacion.</strong>
                    <p>Deberis de  <a asp-page="./GenerateRecoveryCodes">generar un nuevo set de codigos</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Tienes @Model.RecoveryCodesLeft codigos de recuperacion.</strong>
                    <p>Deberis de  <a asp-page="./GenerateRecoveryCodes">generar un nuevo set de codigos</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Olvidar este navegador</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Reiniciar codigos de recuperacion</a>
        }

        <h4>App de autenticacion</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Agrega una app de autenticacion</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar app de autenticacion</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reiniciar app de autenticacion</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Las politicas de cookies y privacidad no han sido aceptadas.</strong>
            <p>Debes de aceptarlas antes de activar 2FA.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
